/*It's awful, but this is how you can create variables if you're using CSS with JavaFX. Only works with colors.*/
*{
    -fx--text-color: #999999;
    -fx--not-clicable: #777777;
    -fx--selected: #777777;
    -fx--background: #555555;
    -fx--special-background: #333333;
    -fx--blackcard-background: #111111;

    -fx--error-text: #FF4040;
    -fx--cherry-color: #D2042D;
    -fx--pearl-color: #E2DFD2;
}

.stageBackground {
    -fx-background-color: -fx--background;
}

.labelColor {
    -fx-text-fill: -fx--text-color;
}

.btnOff {
    -fx-background-color: -fx--not-clicable;
    -fx-text-fill: -fx--text-color;
}

.btnOn {
    -fx-background-color: -fx--special-background;
    -fx-text-fill: -fx--text-color;
}

.txt {
    -fx-background-color: -fx--special-background;
    -fx-text-fill: -fx--text-color;
}

.error-label {
    -fx-text-fill: -fx--error-text;
}

/*List and list's cells customization*/
.list {
    -fx-background-color: -fx--special-background;
}

.list-cell {
    -fx-text-fill: -fx--text-color;
    -fx-background-color: -fx--special-background;
    -fx-border-top: -fx--blackcard-background;
}

.list-cell:selected{
    -fx-text-fill: -fx--text-color;
    -fx-background-color: -fx--selected;
    -fx-border-top: -fx--blackcard-background;
}

/*List scrollbars' customization*/
.list .scroll-bar:vertical, .list .scroll-bar:horizontal {
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list .scroll-bar:vertical .thumb, .list .scroll-bar:horizontal .thumb {
    -fx-background-color: -fx--text-color;
    -fx-background-radius: 5em;
}

.list .scroll-bar:vertical .track, .list .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/*Checkbox's customization*/
.check-box .box {
    -fx-background-color: -fx--special-background;
    -fx-text-fill: -fx--text-color;
}

.check-box:selected .mark {
    -fx-background-color: -fx--text-color;
}

/*Dialog's button bar and button-types*/
.button-bar .button {
    -fx-background-color: -fx--special-background;
    -fx-text-fill: -fx--text-color;
}

/*Progress bar's customization*/
.progress-bar .bar{
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(to right, -fx--cherry-color, -fx--not-clicable);
}

.progress-bar .track{
    -fx-background-insets: 0;
    -fx-background-color: -fx--not-clicable;
}